.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}
  .table {
    width: 100%;
    margin-top: 10px;
  }
  th{
    width: 20%
  }
  .pointer{
    cursor: pointer;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
<<<<<<< HEAD
  }

  .noElementos{
    text-align: center;
=======
>>>>>>> 8801c8445a607643e6bfd1f9651fda04cf9da8e4
  }