<div class="container">
      <mat-toolbar>
      <span>Soporte it</span> <!--En realidad tiene que ir soporte-->
      <div class="example-spacer "></div>
      <button mat-button color="primary" routerLink="/dashboard/crear-elemento">Agregar elemento</button>  
    </mat-toolbar>

    <div *ngIf="listaUsuario.length > 0">
        <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar elemento" #input autocomplete="on">
      </mat-form-field>
    <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort> <!--Ordenamiento no funciona-->>
  
    <ng-container matColumnDef="N° de Inventario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > N° de Inventario </th> <!--Aca deberia poner cantidad o numero de inventario-->
      <td mat-cell *matCellDef="let element"> {{element.NdeInventario}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Elemento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Elemento </th> <!--Aca edito columnas-->
      <td mat-cell *matCellDef="let element"> {{element.elemento}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Lugar">
      <th mat-header-cell *matHeaderCellDef> Lugar </th><!--Aca edito columnas-->
      <td mat-cell *matCellDef="let element"> {{element.lugar}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Cantidad </th><!--Aca edito columnas-->
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> </th><!--Aca edito columnas-->
      <td mat-cell *matCellDef="let element; let i =index" style="text-align: right;"> 
        <a class="pointer" style="color:steelblue;" matTooltip="Ver elemento">
          <mat-icon>search</mat-icon>
        </a>
        <a class="pointer" style="color: #0e9215;" matTooltip="Editar elemento">
          <mat-icon>edit</mat-icon>
        </a>
        <a class="pointer" (click)= "eliminarUsuario(i)"style="color: #9e0a0a;" matTooltip="Eliminar elemento">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div>
    <h2 *ngIf="listaUsuario.length==0" class="noElementos">No hay elementos cargados</h2>
</div>