<h1>Lista elementos</h1>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>N° de inventario</th>
            <th>Elemento</th>
            <th>Lugar</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elementos of elementos">
            <td>{{elementos.Ninventario}}</td>
            <td>{{elementos.elemento}}</td>
            <td>{{elementos.lugar}}</td>
            <td>{{elementos.cantidad}}</td>
        </tr>
    </tbody>
</table>