<section class="container">
    <div class="menu__container">
        <img class="logo__inicio" src="../../../assets/img/logoInicio2.png" alt="">

        <!-- routerLinkActive="active-link" : sirve para cambiarle el estilo en css cuando hacemos click (Es como una clase) -->
        <nav class="inicio__nav">
            <a routerLink="app-inicio"  class="inicio__items">Inicio</a>
            <a routerLink="app-alta-cliente" class="inicio__items">Nuevo cliente</a>
            <a routerLink="app-listado-clientes"  class="inicio__items">Lista clientes</a>
        </nav>
    </div>
</section>
