<section class="container">
    <div class="menu__container">

        <nav class="title__nav">
            <!-- Agregamos el titulo (LOGO), en forma de neon -->
            <h1 class="title">Gam<span id="offset">eSph</span>ere</h1>

        </nav>
        <!--Menu de inicio -->
        <nav class="menu__nav">
            <!-- Enlazamos la pantalla de inicio, que nos aparece la pantalla principal -->
            <a class="link link--inicio" routerLink="inicio">Inicio</a> 

            <!-- Enlazamos el juego de los dados -->
            <a class="link link--dados" routerLink="juegoDeDados">Triple Fortuna</a>

            <!-- Enlazamos piedra, papel y tijera -->
            <a class="link link--PPT" routerLink="piedrapapeltijera">Piedra, papel y tijera</a>

            <!-- Enlazamos el juego de la serpiente -->
            <a class="link link--snakegame" routerLink="snakegame">Snake Game</a>

        </nav>

    </div>
</section>

<router-outlet></router-outlet>